@font-face {
    font-family: pokemonGb;
    src: url(./assets/fonts/PokemonGb-RAeo.ttf) format("truetype");
}

p::first-letter {
    text-transform: capitalize;
}

body{
    font-family: pokemonGb;
    margin: 0;
}